<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
  <p-panel>
    <p-header>
        <div class="p-col-12" style="font-size:16px;margin-top:5px;">Pedido</div>
    </p-header>
  
    <div class="ui-g">
        <div class="ui-g-12 ui-fluid">
            <label>Código</label>
            <input pInputText type="text" name="id" [(ngModel)]="filtro.id">
        </div>
        <div class="ui-g-12 ui-fluid">
            <label>Cliente</label>
            <input pInputText type="text" name="cliente" [(ngModel)]="filtro.cliente">
        </div>
    </div>
  
    <p-footer>
        <button pButton type="submit" label="Pesquisar" icon="pi pi-search"></button>
        <a pButton routerLink="/pedidos/novo" icon="pi pi-plus" label="Novo" 
        style="margin-left:.25em"></a>
    </p-footer>
  </p-panel>
  </form>
  <br>
  
  <p-table [value]="pedidos" [responsive]="true"
  [paginator]="true" [rows]="filtro.itensPorPagina"
  [lazy]="true" [totalRecords]="totalRegistros"
  (onLazyLoad)="aoMudarPagina($event)"
  #tabela>
      <ng-template pTemplate="header">
        <tr>
            <th [style.width.%]="10">Código</th>
            <th>Pedido</th>
            <th class="col-acoes-header"></th>
          </tr>
      </ng-template>
    
      <ng-template pTemplate="body" let-pedido>     
        <tr>
          <td [style.width.%]="10">{{ pedido.id }}</td>
          <td> {{ pedido.cliente }}</td>
          <td class="col-acoes">
              <button pButton icon="fa fa-pencil" pTooltip="Editar"
              tooltipPosition="top"
              [routerLink]="['/pedidos', pedido.id]"
              [disabled]="!auth.temPermissao('ROLE_CADASTRAR_CLIENTE')"></button>
              &nbsp;
              <button pButton icon="fa fa-trash"
              pTooltip="Excluir" tooltipPosition="top"
              (click)="confirmarExclusao(pedido)"
              [disabled]="!auth.temPermissao('ROLE_REMOVER_CLIENTE')"></button>
          </td>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">
            Nenhum pedido encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  
  </div>