<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)" >
    <p-panel>
      <p-header>
          <div class="p-col-12" style="font-size:16px;margin-top:5px;">
            {{ editando ? 'Edição de' : 'Novo' }} Pedido
          </div>   
      </p-header>
      <div class="ui-g">   
          <div class="ui-g-6 ui-md-2 ui-fluid">
              <label>Código</label>
              <input pInputText type="text" [disabled]="true" [(ngModel)]="pedido.id" name="id">
            </div>
            <div class="ui-g-6 ui-md-2 ui-fluid">
                <label>Data</label>
                <p-calendar [(ngModel)]="pedido.dataCriacao" dateFormat="dd/mm/yy"
                [inline]="false" [readonlyInput]="false" [showIcon]="false"
                name="dataCriacao" [disabled]="true" ></p-calendar>
          </div>
            <div class="ui-g-6 ui-md-2 ui-fluid">
                <label>Tipo</label>
              <input pInputText type="text" [disabled]="true" [(ngModel)]="pedido.tipo" name="tipo">
          </div>
          <div class="ui-g-6 ui-md-2 ui-fluid">
              <label>Natureza</label>
              <input pInputText type="text" [disabled]="true" [(ngModel)]="pedido.natureza" name="natureza" >
          </div>
          <div class="ui-g-12 ui-md-4 ui-fluid">
            <label>Situação</label>
            <p-dropdown [options]="status" [(ngModel)]="pedido.status" name="status" required
            [showClear]="true">
          </p-dropdown>    
          </div>

          <div class="ui-g-12 ui-md-6 ui-fluid">
            <label>Cliente</label>
            <p-dropdown [(ngModel)]="pedido.cliente" [options]="clientes" required
            placeholder="Selecione o Cliente" name="cliente" ></p-dropdown>  
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid">
            <label>Vendedor</label><br>
            <p-dropdown [options]="vendedores" optionLabel="nome" required
             placeholder="Selecione o Vendedor" [(ngModel)]="pedido.vendedor" name="vendedor" ></p-dropdown>                
          </div>
          <div class="ui-g-12 ui-md-3 ui-fluid">
            <label>Forma de Pagamento</label>
            <p-dropdown [options]="formaPagamento" placeholder="Selecione" [(ngModel)]="pedido.formaPagamento"
             name="formaPagamento" required [showClear]="true"></p-dropdown>    
          </div>
      </div>
      <p-footer>
          <button pButton type="submit" icon="pi pi-save" label="Salvar" *ngIf="!finalizado" [disabled]="f.invalid || pedido.itensPedido.length<1"
           class="ui-button-success" style="margin-right: .25em"></button>
          <a pButton routerLink="/pedidos" icon="pi pi-angle-left" label="Voltar" class="ui-button-secondary"></a>
      </p-footer>
  </p-panel>
  <br>
  <p-panel>
    <p-header>
          <div class="p-col-12" style="font-size:16px;margin-top:5px;">
            Produtos
          </div>   
      </p-header>
      <div class="ui-g">  
      <app-pedido-cadastro-item [pedido]="pedido" [finalizado]="finalizado"></app-pedido-cadastro-item>
    </div>
  </p-panel>
  
  </form>
  </div>