<form #frmItem="ngForm" (ngSubmit)="adicionarProduto()" *ngIf="!finalizado">
<div class="ui-g">   
  <div class="ui-g-12 ui-md-5 ui-fluid">
      <label>Produto</label>
      <p-dropdown [(ngModel)]="itemPedido.produto" [options]="produtos" required
      optionLabel="descricao"  filter="true" (onChange)="atualizarProduto()"
      name="produto" placeholder="Selecione o Produto"  >      
      </p-dropdown>
  </div>

  <div class="ui-g-12 ui-md-1 ui-fluid">
      <label>QTD</label>
      <p-spinner size="10" [(ngModel)]="itemPedido.quantidade" name="quantidade" required
       (onChange)="atualizarProduto()" ></p-spinner>
  </div>

  <div class="ui-g-12 ui-md-3 ui-fluid">
      <label>Valor</label>
      <input pInputText type="text" [(ngModel)]="itemPedido.valorUnitario" [readonly]="true"
      placeholder="0,00" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
        name="valor" >
  </div>

  <div class="ui-g-12 ui-md-3 ui-fluid">
      <label>Total</label>
      <input pInputText type="text" [(ngModel)]="itemPedido.valorTotal" placeholder="0,00" currencyMask
      [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
      [readonly]="true" name="total" >
  </div>

  <button pButton icon="pi pi-plus"  type="submit" label="Adicionar Produto"
          [disabled]="frmItem.invalid" 
          style="margin-left:.25em"></button>
</div>
</form>        

<div class="ui-g-12">
  <p-table [value]="pedido.itensPedido">
    <ng-template pTemplate="header">
      <tr>
          <th>COD</th>
          <th>Produto</th>
          <th>Qtd</th>
          <th>Valor</th>
          <th *ngIf="!finalizado"></th>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">     
            <tr>
            <td>{{ item.produto.id }}</td>
            <td>{{ item.produto.descricao }}</td>
            <td currencyMask [options]="{ prefix: '', thousands: '.', decimal: '
            ,', allowNegative: false }">{{ item.quantidade }}
            </td>
            <td>{{ item.valorTotal | currency: 'BRL' }}
            </td>
            <td *ngIf="!finalizado">
                <button pButton icon="fa fa-pencil" type="button"
                pTooltip="Editar" tooltipPosition="top"
                (click)="editarItem(rowIndex)"></button>
              <button pButton icon="fa fa-trash" type="button"
              pTooltip="Excluir" tooltipPosition="top" 
              (click)="removerItem(rowIndex)" style="margin-left:.25em"></button>
            </td>
          </tr>
        </ng-template>
    <ng-template pTemplate="summary">
        Totalizadores
    </ng-template>
  </p-table>
</div>